<!DOCTYPE html>
<html ng-app="mahasiswaApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/stylecss/style.css">

    <script src="asset/js/jquery-3.6.0.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
    <script src="asset/angularjs/angular.min.js"></script>
    <script src="asset/jsfunction/angular-script-mahasiswa.js"></script>
    <script src="asset/js/sweetalert.min.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PPDBQUE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jurusan.html">Jurusan</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav> <br>
    <div class="container" ng-controller="DbController">
        <div class="card rounded-0 shadow-lg border border-5 border border-dark">
            <div class="card-body">
                <div class="row ms-sm-0">
                    <div class="col-sm-4">
                        <button class="btn btn-success " ng-show="show-form" ng-click="formToggle()"> Tambah Mahasiswa</button>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                            <input type="text" class="form-control" placeholder="Search Mahasiswa" ng-model="searchMahasiswa">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div ng-include="'templates/formMahasiswa.html'"></div>
                    <div ng-include src="'templates/editMahasiswa.html'"></div>
                </div>

                <div class="clearfix ">
                    <div class="table table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nim</th>
                                    <th>Nama Lengkap</th>
                                    <th>Jurusan</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Email</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="detail in details | filter:searchMahasiswa">
                                <td><span>{{$index+1}}</span></td>
                                <td><span>{{detail.nim}}</span></td>
                                <td><span>{{detail.nama_lengkap}}</span></td>
                                <td><span>{{detail.nama_jurusan}}</span></td>
                                <td><span>{{detail.jenis_kelamin}}</span></td>
                                <td><span>{{detail.email}}</span></td>
                                <td>
                                    <button class="btn btn-success " ng-click="editMahasiswa(detail)"> Edit Mahasiswa</button>
                                    <button class="btn btn-success " ng-click="deleteMahasiswa(detail)"> Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>