<!DOCTYPE html>
<html ng-app="jurusanApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/bootstrap.css">
    <link rel="stylesheet" href="asset/stylecss/style.css">
    <script src="asset/js/jquery-3.6.0.min.js"></script>
    <script src="asset/angularjs/angular.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
    <script src="asset/jsfunction/angular-script-jurusan.js"></script>
    <script src="asset/js/sweetalert.min.js"></script>
    <title>Jurusan</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PPDBQUE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jurusan.html">Jurusan</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav> <br>
    <div class="container" ng-controller="JurusanController">
        <div class="card rounded-0 shadow-lg border border-5 border border-dark">
            <div class="card-body">
                <div class="row ms-sm-0">
                    <div class="col-sm-4">
                        <button class="btn btn-success " data-bs-toggle="modal" ng-click="tambahJurusan()"> Tambah Jurusan</button>

                        <div class="modal fade" id="tambah">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tambah Jurusan</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal alert alert-warning" name="listJurusan" id="jurusanForm" ng-submit="insertJurusan(jurusanInfo);">
                                            <div class="form-group">
                                                <label for="jurusan"> Nama Jurusan:</label>
                                                <input type="text" name="jurusan" class="form-control" placeholder="Jurusan" ng-model="jurusanInfo.jurusan" value="" autofocus required />
                                            </div>
                                            <div class="form-group">
                                                <p class="text-danger" ng-show="listJurusan.jurusan.$invalid && listJurusan.jurusan.$dirty"> Jurusan harus diisi !</p>
                                            </div>
                                            <div class="form-group mt-2">
                                                <button class="btn btn-warning" ng-disabled="listJurusan.$invalid">Simpan</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                            <input type="text" class="form-control" placeholder="Search Mahasiswa" ng-model="searchMahasiswa">
                        </div>
                    </div>
                </div>

                <div class="clearfix ">
                    <div class="table table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Jurusan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="detail in details.data | filter:searchMahasiswa">
                                <td><span>{{$index+1}}</span></td>
                                <td><span>{{detail.nama_jurusan}}</span></td>
                                <td>
                                    <button class="btn btn-success " ng-click="editJurusan(detail)"> Edit Jurusan</button>
                                    <button class="btn btn-success " ng-click="deleteJurusan(detail)"> Delete</button>
                                    <div class="modal fade" id="edit">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="edit">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal alert alert-warning id=" editJurusan " ng-submit="UpdateJurusan(currentJurusan) ">
                                                        <h3 class="text-center "> Update Jurusan</h3>
                                                        <div class="form-group ">
                                                            <label for="Jurusan ">Jurusan</label>
                                                            <input type="text " name="jurusan " class="form-control " ng-model="currentJurusan.nama_jurusan " value="{{currentJurusan.nama_jurusan}} ">
                                                        </div>
                                                        <div class="form-group ">
                                                        <button class="btn btn-warning " ng-click="updateJurusan(currentJurusan) ">Update</button>
                                                    </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer ">
                                                    <button type="button " class="btn btn-secondary " data-bs-dismiss="modal ">Close</button>
                                                    <button type="button " class="btn btn-primary ">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>