@import url(http://fonts.googleapis.com/css?family=Raleway);

form#mahasiswaForm,form#editMahasiswa{
    padding: 0 35px 15px;
}
form#jurusanForm,form#editJurusan{
    padding: 0 35px 15px;
}

label.gender{
    padding-top: 0!important;
}
table tr th{
    background: #f8f8f8;
}
