<form class="form-horizontal alert alert-warning id=" editJurusan " ng-submit="UpdateJurusan(currentJurusan) "hidden>
    <h3 class="text-center "> Update Jurusan</h3>
    <div class="form-group ">
        <label for="Jurusan ">Jurusan</label>
        <input type="text " name="jurusan " class="form-control " ng-model="currentJurusan.nama_jurusan " value="{{currentJurusan.nama_jurusan}} ">
    </div>
    <div class="form-group ">
    <button class="btn btn-warning " ng-disabled="listJurusan.$invalid " >Update</button>
</div>
</form>