<form class="form-horizontal alert alert-warning" name="listJurusan" id="jurusanForm" ng-submit="insertJurusan(jurusanInfo);" hidden>
    <h3 class="text-center">Tambah Jurusan</h3>
    <div class="form-group">
        <label for="jurusan"> Nama Jurusan:</label>
        <input type="text" name="jurusan" class="form-control" placeholder="Jurusan" ng-model="jurusanInfo.jurusan" value="" autofocus required />
    </div>
    <div class="form-group">
        <p class="text-danger" ng-show="listJurusan.jurusan.$invalid && listJurusan.jurusan.$dirty"> Jurusan harus diisi !</p>
    </div>
    <div class="form-group">
        <button class="btn btn-warning" ng-disabled="listJurusan.$invalid">Simpan</button>
    </div>
</form>